<div class="media" ng-if="uid !== undefined">
  <a class="pull-left" href="./users/{{uid}}">
    <img class="media-object user-avatar" src="{{'./img/' + user(uid).avatar}}" alt="{{user(uid).name}}">
  </a>
  <div class="media-body">
    <h1>{{user(uid).name}}</h1>
    <p ng-if="totalFrom !== undefined">{{user(uid).name}} has written <strong>{{totalFrom}}</strong> posts.</p>
  </div>
</div>

<ul class="pager">
  <li ng-class="canNext() ? '' : 'disabled'" class="previous"><a href="#" ng-click="next()">&larr; Menos reciente</a></li>
  <li ng-class="canPrev() ? '' : 'disabled'" class="next"><a href="#" ng-click="prev()">M&aacute;s reciente &rarr;</a></li>
</ul>

<div ng-if="!messages.length">No hay mesajes.</div>

<div class="row" ng-repeat="msg in messages" ng-class="msg.public ? '' : 'media-private'">
  <a href="./users/{{msg.from}}">
    <img class="user-avatar" src="{{'./img/' + user(msg.from).avatar}}" alt="{{user(msg.from).name}}">
  </a>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <h4 class="panel-title pull-left">{{msg.title}} &nbsp; <small>{{user(msg.from).name}} &rarr; <span ng-if="!(msg.to &amp;&amp; msg.to.length)">{{msg.public ? "Todos" : "Nadie"}}</span> <span ng-if="msg.to &amp;&amp; msg.to.length"><span ng-repeat="target in msg.to">{{user(target).name}} &nbsp;</span></span><span ng-if="!msg.public">(Privado)</span> <span ng-if="msg.finish">(Finalizado)</span></small></h4>
      <div class="pull-right">
        <h4><span class="label label-default">{{msg.date | date:'yyyy-MM-dd HH:mm:ss'}}</span></h4>
      </div>
    </div>
    <div class="panel-body clearfix">
      <div class="pull-right" ng-class="access() ? 'btn-group' : ''">
        <a style="margin-left: 5px;" href="./compose/{{msg.id}}" class="btn" ng-class="msg.finish ? 'btn-warning' : 'btn-primary'">Responder</a>
        <button class="btn btn-danger pull-right" ng-click="delete(msg.id)" ng-if="access()">Borrar</button>
      </div>
      <div class="pull-left" markdown-preview="msg.data"></div>
    </div>
  </div>
</div>

<ul class="pager">
  <li ng-class="canNext() ? '' : 'disabled'" class="previous"><a href="#" ng-click="next()">&larr; Menos reciente</a></li>
  <li ng-class="canPrev() ? '' : 'disabled'" class="next"><a href="#" ng-click="prev()">M&aacute;s reciente &rarr;</a></li>
</ul>
