<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Select Character</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/select.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="mystery-title" class="navbar-brand" href="/select">Select Character</a>
      </div>
      <div class="collapse navbar-collapse" ng-controller="Navbar">
        <ul class="nav navbar-nav navbar-right">
          <li><div class="navbar-btn name-slot">{{ username }}</div></li>
          <li><button onclick="document.location='/logoff';" class="btn btn-default navbar-btn">Salir</button></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="main-content">

      <div>
        <noscript>
          <div class="alert alert-danger"><strong>JavaScript Disabled!</strong> This site uses JavaScript to provide an efficient and responsive interface, please enable JavaScript!</div>
        </noscript>
      </div>

      {% if characters %}
        <div class="alert alert-info">Click on the character that you want to be.</div>
        {% for character_pair in characters %}
          <div class="col-xs-3">
            <div class="character-selection">
              <a href="/select?csid={{ character_pair[0].key.id() }}:{{ character_pair[1].key.id() }}">
                <img class="user-avatar-big" src="/img/{{ character_pair[0].avatar }}" />
                <div class="character-name">{{ character_pair[0].name }}</div>
                <div>{{ character_pair[1].name }}</div>
              </a>
            </div>
          </div>
        {% endfor %}
      {% else %}
        {% if not admin %}
          <div class="alert alert-danger">You have no characters! Please contact your session administrator.</div>
        {% endif %}
      {% endif %}
      {% if admin %}
        <div class="col-xs-3">
          <div class="character-selection">
            <a href="/administration">
              <img class="user-avatar-big" src="/img/admin_entry.png" />
              <div class="character-name">Management Backend</div>
            </a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <script src="lib/jquery/jquery.js"></script>
  <script src="lib/underscore/underscore.js"></script>
  <script src="lib/bootstrap/bootstrap.js"></script>
</body>
</html>
{% endautoescape %}
