<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Administration Page</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="mystery-title" class="navbar-brand" href="/administration">Management Root</a>
      </div>
      <div class="collapse navbar-collapse" ng-controller="Navbar">
        <ul class="nav navbar-nav navbar-right">
          <li style="padding-right: 10px;"><button onclick="document.location='/';" class="btn btn-default navbar-btn">Volver al Juego</button></li>
          <li><button onclick="document.location='/logoff';" class="btn btn-warning navbar-btn">Salir</button></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="main-content">

      <div>
        <noscript>
          <div class="alert alert-danger"><strong>JavaScript Disabled!</strong> This site uses JavaScript to provide an efficient and responsive interface, please enable JavaScript!</div>
        </noscript>
      </div>

      <ol class="breadcrumb">
        <li class="active">Root</li>
      </ol>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Templates</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-info">Every <strong>session</strong> is based on a <strong>template</strong>, which specifies the <strong>characters</strong> and <strong>predefined messages</strong>. Scroll down to see the sessions.</div>
          {% if templates %}
            <div class="list-group">
              {% for template in templates %}
                <a href="/administration/template?key={{ template.key.urlsafe() }}" class="list-group-item">{{ template.name }}</a>
              {% endfor %}
            </div>
            <div class="alert alert-warning"><strong>Warning!</strong> Creating a new template here will not copy any existing configuration. Click on an existing template to be able to duplicate it.</div>
          {% else %}
            <div class="alert alert-warning">No templates currently exist.</div>
          {% endif %}
          <form class="input-group" action="/administration/new_template" method="post">
            <input type="text" name="name" class="form-control" placeholder="Template name...">
            <span class="input-group-btn">
              <button class="btn btn-warning" type="submit">New Original Template</button>
            </span>
          </form>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sessions</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-info">A <strong>session</strong> is a particular instance of a game, played by <strong>a specific group of players</strong>, with its own distinct set of <strong>posts</strong>. </div>
          {% if sessions %}
            <div class="list-group">
              {% for session in sessions %}
                <a href="/administration/session?key={{ session.key.urlsafe() }}" class="list-group-item">{{ session.name }}</a>
              {% endfor %}
            </div>
          {% else %}
            <div class="alert alert-warning">No sessions currently exist.</div>
          {% endif %}
          <div class="alert alert-info" style="margin-bottom: 0px;">Click on a template (above) to be able to create a new session based on that template. All sessions must be based on an existing template.</div>
        </div>
      </div>

      <a name="administrators"></a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Administrators</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-info">An <strong>administrator</strong> has full access to this backend. Do not give out access to anyone who you do not have full trust in. Users who have Google AppEngine administrator access are not necessarily included on this list but also have full access to this backend.</div>
          {% if administrators %}
            <table class="table">
			  <thead>
			    <tr><th>Email</th><th>Name</th><th>Date Added</th><th>Actions</th></tr>
		      </thead>
			  <tbody>
                {% for administrator in administrators %}
                  <form action="/administration/delete_administrator" method="post">
                    <input type="hidden" name="key" value="{{ administrator.key.urlsafe() }}" />
				    <tr><td>{{ administrator.key.id() }}</td><td>{{ administrator.name }}</td><td>{{ administrator.added }}</td><td><button class="btn btn-danger" type="submit">Remove</button></td></tr>
                  </form>
                {% endfor %}
		      </tbody>
            </table>
          {% else %}
            <div class="alert alert-warning">No non-GAE administrators currently exist.</div>
          {% endif %}
          <form class="form-horizontal" action="/administration/add_administrator" method="post">
            <div class="form-group">
              <label for="email" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" id="email" name="email" class="form-control" placeholder="Administrator email...">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" id="name" name="name" class="form-control" placeholder="Administrator name...">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-primary" type="submit">Add Administrator</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="/lib/jquery/jquery.js"></script>
  <script src="/lib/underscore/underscore.js"></script>
  <script src="/lib/bootstrap/bootstrap.js"></script>
</body>
</html>
{% endautoescape %}
