<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Administration Page</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="mystery-title" class="navbar-brand" href="#">Manage Template</a>
      </div>
      <div class="collapse navbar-collapse" ng-controller="Navbar">
        <ul class="nav navbar-nav navbar-right">
          <li style="padding-right: 10px;"><button onclick="document.location='/';" class="btn btn-default navbar-btn">Volver al Juego</button></li>
          <li><button onclick="document.location='/logoff';" class="btn btn-warning navbar-btn">Salir</button></li>
        </ul>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="main-content">

      <div>
        <noscript>
          <div class="alert alert-danger"><strong>JavaScript Disabled!</strong> This site uses JavaScript to provide an efficient and responsive interface, please enable JavaScript!</div>
        </noscript>
      </div>

      <ol class="breadcrumb">
        <li><a href="/administration">Root</a></li>
        <li class="active">Template: {{ template.name }}</li>
      </ol>

      <a name="properties"></a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Properties</h3>
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="alert alert-info">Every <strong>session</strong> is based on a <strong>template</strong>. Customize the template of a session to customize its <strong>characters</strong> and <strong>predefined messages</strong>.</div>
            <div class="form-group">
              <label for="templ_id" class="col-sm-2 control-label">Template Unique ID</label>
              <div class="col-sm-10">
                <input id="templ_id" disabled type="text" name="tid" class="form-control" value="{{ template.key.id() }}">
              </div>
            </div>
            <form class="form-group" action="/administration/set_template_name" method="post">
              <label for="new_name" class="col-sm-2 control-label">Template Name</label>
              <div class="col-sm-8">
                <input id="new_name" type="text" name="name" class="form-control" placeholder="Enter a name for the template..." value="{{ template.name }}">
              </div>
              <div class="col-sm-2">
                <button style="width: 100%;" class="btn btn-warning" type="submit">Modify Name</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <a name="actions"></a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Actions</h3>
        </div>
        <div class="panel-body">
          <div class="form-horizontal">
            <div class="alert alert-info">A template can be duplicated to create a new template with all of the same configuration. This is recommended before starting a new year of sessions, so that you can modify that year's sessions without inadvertently modifying other sessions.</div>
            <form class="form-group" action="/administration/duplicate_name" method="post">
              <label for="duplicate_templ" class="col-sm-2 control-label">Duplicate Template</label>
              <div class="col-sm-8">
                <input id="duplicate_templ" type="text" name="name" class="form-control" placeholder="Enter a name for the new template...">
              </div>
              <div class="col-sm-2">
                <button style="width: 100%;" class="btn btn-primary" type="submit">Duplicate Template</button>
              </div>
            </form>
            <form class="form-group" action="/administration/new_session" method="post">
              <label for="new_session" class="col-sm-2 control-label">New Session</label>
              <div class="col-sm-8">
                <input id="new_session" type="text" name="name" class="form-control" placeholder="Enter a name for the new session...">
              </div>
              <div class="col-sm-2">
                <button style="width: 100%;" class="btn btn-primary" type="submit">New Session</button>
              </div>
            </form>
            <div class="form-group">
              <label for="new_name" class="col-sm-2 control-label">Delete Template</label>
              <form class="col-sm-3" action="/administration/prepare_delete_template" method="get">
                <button style="width: 100%;" class="btn btn-danger" type="submit">Delete Template</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <a name="message-sets"></a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Message Sets</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-info">A <strong>message set</strong> is a set of predefined messages that can be published as a batch to users. This could be a newspaper article, predefined private information, introductory messages, or anything else. See the characters section and global messages section below to specify the messages in each message set.</div>
          <div class="form-horizontal">
            {% if template.message_sets %}
              <div class="list-group">
                {% for message_set in template.message_sets %}
                  <form class="list-group-item" action="/administration/delete_message_set" method="post">
                    <input type="hidden" name="key" value="{{ template.key.urlsafe() }}" />
                    <input type="hidden" name="name" value="{{ message_set }}" />
                    <button class="btn btn-danger pull-right" type="submit">Remove</button>
                    <div style="margin-top: 7px; margin-bottom: 7px;">{{ message_set }}</div>
                  </form>
                {% endfor %}
              </div>
            {% else %}
              <div class="alert alert-warning">No message sets currently exist.</div>
            {% endif %}
            <form class="input-group" action="/administration/add_message_set" method="post">
              <input type="hidden" name="key" value="{{ template.key.urlsafe() }}">
              <input type="text" name="name" class="form-control" placeholder="Message set name...">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Add Message Set</button>
              </span>
            </form>
          </div>
        </div>
      </div>
      <a name="global-messages"></a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Global Messages</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-info">A <strong>global message</strong> is a predefined message in a specific <strong>message group</strong> that goes to all characters in the session when it is published.</div>
          <div class="form-horizontal">
            {% if global_messages %}
              {% for global_message in global_messages %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{ global_message.key.id() }} in {{ global_message.msid }}</h3>
                  </div>
                  <div class="panel-body">
                    <form class="form-horizontal" action="/administration/update_global_message" method="post">
                      <input type="hidden" name="key" value="{{ global_message.key.urlsafe() }}">
                      <div class="form-group">
                        <label for="message_set_spec" class="col-sm-2 control-label">Message Set</label>
                        <div class="col-sm-10">
                          <select name="message-set" class="form-control" id="message_set_spec">
                            <option selected>{{ global_message.msid }}</option>
                            {% for message_set in template.message_sets %}
                              {% if message_set != global_message.msid %}
                                <option {% if global_message.msid == message_set %} selected="selected"{% endif %}>{{ message_set }}</option>
                              {% endif %}
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="message_title" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                          <input id="message_title" type="text" name="title" class="form-control" value="{{ global_message.title }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="message_body" class="col-sm-2 control-label">Body</label>
                        <div class="col-sm-10">
                          <textarea id="message_body" name="body" class="form-control" rows="3">{{ global_message.body }}</textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-3 col-sm-offset-2">
                          <button style="width: 100%;" name="mode" class="btn btn-primary" type="submit" value="update">Update Global Message</button>
                        </div>
                        <div class="col-sm-3">
                          <button style="width: 100%;" name="mode" class="btn btn-danger" type="submit" value="delete">Delete Global Message</button>
                        </div>
                        <div class="col-sm-3">
                          <button style="width: 100%;" name="mode" class="btn btn-warning" type="reset">Reset</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="alert alert-warning">No global messages currently exist.</div>
            {% endif %}
            {% if template.message_sets %}
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Add Global Message</h3>
                </div>
                <div class="panel-body">
                  <form class="form-horizontal" action="/administration/add_global_message" method="post">
                    <input type="hidden" name="key" value="{{ template.key.urlsafe() }}">
                    <div class="form-group">
                      <label for="message_set_spec" class="col-sm-2 control-label">Message Set</label>
                      <div class="col-sm-10">
                        <select name="message-set" class="form-control" id="message_set_spec">
                          {% for message_set in template.message_sets %}
                            <option>{{ message_set }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="message_title" class="col-sm-2 control-label">Title</label>
                      <div class="col-sm-10">
                        <input id="message_title" type="text" name="title" class="form-control">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="message_body" class="col-sm-2 control-label">Body</label>
                      <div class="col-sm-10">
                        <textarea id="message_body" name="body" class="form-control" rows="3"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-3 col-sm-offset-2">
                        <button style="width: 100%;" class="btn btn-primary" type="submit">Add Global Message</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            {% else %}
              <div class="alert alert-warning" style="margin-bottom: 0px;">You must create at least one message set before you can create a global message.</div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Characters</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-info">Each <strong>character</strong> is predefined in the template, and in the actual session is connected to an actual player to be controlled. Each character has a list of <strong>predefined messages</strong> from each message set, which that character, and only that character, will receive when the message set is published.</div>
          <div class="form-horizontal">
            <table class="table">
              <thead>
                <tr><th>#</th><th>Name</th><th>Avatar</th><th>Actions</th></tr>
              </thead>
              <tbody>
                {% if not characters %}
                  <tr><td colspan="4" style="text-align: center;"><div style="margin-bottom: 0px;" class="alert alert-warning">No characters defined.</div></td></tr>
                {% endif %}
                {% for character in characters %}
                  <tr><td><span class="label label-default">{{ character.key.id() }} </span></td><td>{{ character.name }}</td><td>{{ character.avatar }}</td><td><a href="/administration/character?key={{ character.key.urlsafe() }}" style="width: 100%;" class="btn btn-primary">View/Edit</a></td></tr>
                {% endfor %}
                <form method="post" action="/administration/new_character"><input type="hidden" name="key" value="{{ template.key.urlsafe() }}"><tr><td><span class="label label-default">NEW</span></td><td><input class="form-control" type="text" name="name" placeholder="enter name..."></td><td><select name="avatar" class="form-control"><option>unselected</option>{% for avatar in avatars %}<option>{{ avatar }}</option>{% endfor %}</select></td><td><button type="submit" class="btn btn-primary" style="width: 100%;">Create</button></td></tr></form>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Avatars</h3>
        </div>
        <div class="panel-body">
          <div class="alert alert-info">Each <strong>avatar</strong> is predefined in the source code. Contact your developer to add or remove entries.</div>
          {% for avatar in avatars %}
            <div class="col-xs-4">
              <div class="media">
                <div class="media-left">
                  <img class="media-object user-avatar" src="/img/{{ avatar }}">
                </div>
                <div class="media-body">
                  <h4 class="media-heading" style="font-family: Monospaced;">{{ avatar }}</h4>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <script src="/lib/jquery/jquery.js"></script>
  <script src="/lib/underscore/underscore.js"></script>
  <script src="/lib/bootstrap/bootstrap.js"></script>
</body>
</html>
{% endautoescape %}
