<div class="media" ng-if="cid !== null">
  <a class="pull-left" href="./users/{{cid}}">
    <img class="media-object user-avatar" ng-src="{{'./img/' + user(cid).avatar}}" alt="{{user(cid).name}}">
  </a>
  <div class="media-body">
    <h1>{{user(cid).name}}</h1>
  </div>
</div>

<ul class="pager">
  <li ng-class="canNext() ? '' : 'disabled'" class="previous"><a href="{{ url }}" ng-click="next()">&larr; Menos reciente</a></li>
  <li class="btn btn-success" ng-click="restart()">Refrescar</li>
  <li ng-class="canPrev() ? '' : 'disabled'" class="next"><a href="{{ url }}" ng-click="prev()">M&aacute;s reciente &rarr;</a></li>
</ul>

<div class="alert" ng-class="loading ? 'alert-warning' : 'alert-info'" ng-if="!messages.length">{{loading ? "Cargando..." : is_inbox ? "¡No hay mensajes!" : "No hay mesajes."}}</div>

<div class="media" ng-repeat="msg in messages">
  <a class="pull-left" href="./users/{{msg.from}}">
    <img class="user-avatar" ng-src="{{'./img/' + user(msg.from).avatar}}" alt="{{user(msg.from).name}}">
  </a>
  <div class="media-body">
    <div class="panel panel-default">
      <div class="panel-heading clearfix">
        <h4 class="panel-title pull-left">{{user(msg.from).name}} <span class="glyphicon glyphicon-arrow-right"></span> {{msg.to === null ? "Todos" : user(msg.to).name}} <span ng-if="msg.expect">(Esperando respuesta)</span></h4>
        <div class="pull-right">
          <h4><span class="label label-default">{{msg.date | date:'yyyy-MM-dd HH:mm:ss'}}</span></h4>
        </div>
      </div>
      <div class="panel-body clearfix">
        <div class="pull-right">
          <a style="margin-left: 5px;" href="./compose/{{msg.id}}" class="btn" ng-class="msg.finish ? 'btn-warning' : 'btn-primary'">Responder</a>
        </div>
        <div>
          <div markdown-preview="msg.data"></div>
          <div style="margin-top: 30px; margin-bottom: 0; opacity: 0.6;" class="panel panel-default" ng-if="msg.prevobj">
            <div class="panel-heading clearfix">
              <h4 class="panel-title pull-left">Mensaje anterior: {{user(msg.prevobj.from).name}} <span class="glyphicon glyphicon-arrow-right"></span> {{msg.prevobj.to === null ? "Todos" : user(msg.prevobj.to).name}} <span ng-if="msg.prevobj.expect">(Esperando respuesta)</span></h4>
              <div class="pull-right">
                <h4><span class="label label-default">{{msg.prevobj.date | date:'yyyy-MM-dd HH:mm:ss'}}</span></h4>
              </div>
            </div>
            <div class="panel-body clearfix">
              <div markdown-preview="msg.prevobj.data"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ul class="pager">
  <li ng-class="canNext() ? '' : 'disabled'" class="previous"><a href="{{ url }}" ng-click="next()">&larr; Menos reciente</a></li>
  <li ng-class="canPrev() ? '' : 'disabled'" class="next"><a href="{{ url }}" ng-click="prev()">M&aacute;s reciente &rarr;</a></li>
</ul>
