<div class="alert" ng-class="loading ? 'alert-warning' : 'alert-info'" ng-if="!messages.length">{{loading ? "Cargando..." : "No hay mesajes."}}</div>

<div class="panel panel-default" ng-repeat="msg in messages">
  <div class="panel-heading">{{ msg.title }} <div class="pull-right">{{ msg.charspec ? " Private Message" : "General Message" }} &nbsp; <span class="glyphicon glyphicon-{{ msg.charspec ? 'sunglasses' : 'certificate' }}"></span></div> </div>
  <div class="panel-body clearfix">
    <div markdown-preview="msg.body"></div>
  </div>
</div>

