<h1>Personajes</h1>

<p>Hay {{User.others.length}} personaje{{User.others.length == 1 ? "" : "s"}}.</p>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Foto</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in User.others">
      <td><a ng-href="./users/{{user.cid}}" class="label label-default">{{user.cid}}</a></td>
      <td>{{user.name}}</td>
      <td>
        <img class="user-avatar-small" src="./img/{{user.avatar}}">
        {{user.avatar}}
      </td>
    </tr>
  </tbody>
</table>

<div ng-if="showCredits">
  This system was developed by Colby Skeggs, with some programming &amp; interface help from Eli Skeggs.<br>
  The idea for an upgraded system is thanks to Casey Currey-Wilson.<br>
  Thanks to Roberto Villa for teaching the Spanish III class and pushing for this system to be built.<br>
  We also appreciate the miscellaneous testers who helped make sure the system worked before it crashed head-first into production.<br>
  The avatars were derived from <a href="http://kubbypan.deviantart.com/art/Kubby-s-sprite-base-401451067">Kubbypan's talksprite bases</a> by Colby Skeggs.<br>
  <br>
  The original version was created by Terri Nelson and Walter Oliver from California State University, San Bernardino, in 1997.<br>
</div>

<button type="button" class="btn btn-primary" ng-click="toggleCredits()">Credits</button>

<div style="margin-bottom: 100px;"> </div>
